/* You can add global styles to this file, and also import other style files */
@import './variables';
@import '../../node_modules/bootstrap/scss/bootstrap';

// h1 {
//     color: $titles_color; 
// } 

//TODO: Verify styles in https://www.bootstrap-live-customizer.com/ live example https://bootswatch.com/solar/#buttons
body {
    min-height: 4.5rem;
    padding-top: 4.5rem;
}

.bg-header {
    background-color: $bg-header;
}

.form-gen {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: $bg-form;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

footer {
    margin: 5em 0;
}